<html>

<head>
  <title>Resume</title>
</head>

<body>
  <header>
    <h1 class="heading"> Andy Worth's Portfolio </h1>
    Here's my <a href="https://github.com/Jellekro">Github</a>.
    <br></br>
    Email me at: <a href="mailto:andyworthit@gmail.com">andyworthit@gmail.com</a>
    <br></br>
    Call me at: <a href="tel:1-778-554-9064">1-778-554-9064</a>
    <br></br>
    <a href="home.html">Back to Home Page</a>
    <br></br>
  </header>
  <main>
    <p>
      <section>
        OBJECTIVE: Seeking internship or co-op work experience in a high-performing
                   tech team in industrial research and software development locally or abroad.
      </section>
      <br>

      <section>
        EDUCATION:
        <ul>
          <li>Expected Graduation Date: May 2021</li>
          <li>B.Sc. majoring in the Computational Design & Intelligence stream of Cognitive Systems,
            part of the Computer Science Department in Faculty of Science.</li>
          <li>I’ve completed Computer Science (CPSC) 110, 121, and 210 which cover object-oriented programming (OOP),
            logical arguments/proofs, testing, and abstract data types (ADT).</li>
          <li>Completed 39 credits of B.S. at UBC and all general requirements, except chemistry; GPA: 3.2</li>
          <li>Graduated Skyline High School in Sammamish, WA with an International Baccalaureate Diploma.</li>
        </ul>
      </section>
      <br>

      <section>
        
      </section>
      SKILLS:
      <ul>
        <li>Learning C, Python, R, SQL, JavaScript, Github, and HTTP.</li>
        <li>Basics of C++, HTML & CSS.</li>
        <li>Basic UI in Android Studio.</li>
        <li>Coded in Java for 3 years; included two projects:</li>
        <ul>
          <li>A playable Sudoku game (required extensive user entry error checking).</li>
          <li>A player vs monster game fully designed by me involving:</li>
          <ul>
            <li>ADTs & OOP for different types of monsters.</li>
            <li>a complex recursive algorithm that generates a maze without any
                enclosures that could trap spawning entities.
                This was actually similar to Kruskal's Algorithm, something I just now learned about
                formally in 2nd year of college.</li>
          </ul>
        </ul>
        <li>Competed with a partner in the Science Olympiad event called “Game On”,
            in which we coded a game in Scratch based around a theme within an hour.
            We won 1st at regionals and 2nd at state.</li>
        <li>Spanish at a conversational level (4 years in high school; IB SL).</li>
        <li>3+ years experience working with disabled students in class and as a volunteer (see below).</li>
      </ul>
      <br></br>

      EXPERIENCE:
      <ul>
        <li>Volunteer at the C.O.D.E. Initiative, a two week long course that introduces
            children with autism to Scratch and the field of computer science.</li>
        <ul>

        </ul>
      </ul>

      Learning about UX accessibility issues and the needs products must cater to.
      Gaining a deeper understanding of fundamentals by teaching them.
      Learning essential explanation and conflict resolution skills necessary for management.
      Led a team at UBC Local Hackday 2018.
      Learned how to analyze a team’s skills, direct them, and effectively manage their progress.
      Learned new skills like UI creation in Android Studio and applied OOP knowledge from in class to the project we were creating.
      Most importantly I better understand how to learn new coding skills on the fly now.
      Currently working as an accent teacher. My student and I normally do three hours a week of her reading from scripts and me correcting her accent and teaching her an American accent. This requires rigorous and precise communication skills.
      Held multiple leadership positions in Boy Scouts ranging from Scribe and Patrol Leader up to Assistant Senior Patrol Leader (2nd highest position), and achieved Star Rank.
      I completed “50-milers” (high-adventure trips that were each at least 50 miles).
      Learned the necessity of planning and organization especially in packing.
      As I ranked up I became responsible for newer scouts and learned to lead and coordinate groups of rowdy scouts.
      I learned how to motivate people to learn and apply skills.

      PERSONAL PROJECT:
      I’m designing my own app and learning the languages needed to code it. The app will simplify the process of planning hang-outs among friends. It will include:
      a simplified calendar planner
      a shareable portal for memorable pictures and quotes from the hangout
      a creatable and shareable planning flowchart
      a carpool planning checklist
      a group payment simplifier (UI design: https://bit.ly/2OAq96s)
      With my Hackday team, I’ll be continuing development of our app. It’s an app centered around connected people with different skills and interests by letting people create a profile where they list their basic info, skills, and interests.
      Communities interact by making requests for activities where they can learn skills from others, teach them, or meet new people with common interests.

      AWARDS:
      1st place in regionals and 2nd in state for Science Olympiad Competition, Event: Game On
      Outstanding International Student Award (UBC Scholarship)
      IB Diploma

    </p>
  </main>
</body>

</html>
